<!DOCTYPE HTML>
<html>
<head>
	<title> Loan Risk Prediction </title>
</head>
<body>
	<p><i> An Application that can predict to whom financial institutes should give loans or credit </i></p>
	
	
	<form method = 'POST'  action = '/submit' >
		
		<p> RevolvingUtilizationOfUnsecuredLines <input type='number'step='0.01' name= '1'> </p>
		<p> Age <input type='number'step='0.01' name= '2'> </p>
		<p> NumberOfTime30-59DaysPastDue <input type='number'step='0.01' name= '3'> </p>
		<p> DeptRation <input type='number'step='0.01' name= '4'> </p>
		<p> MonthlyIncome <input type='number' step='0.01'name= '5'> </p>
		<p> NumberOfOpenCreditLinesAndLoans <input type='number'step='0.01' name= '6'> </p>
		<p> NumberOfTimes90DaysLate <input type='number'step='0.01' name= '7'> </p>
		<p> NumberRealEstateLoansOrLines <input type='number'step='0.01' name= '8'> </p>
		<p> NumberOfTime30-59DaysPastDue <input type='number' step='0.01'name= '9'> </p>
		<p> NumberOfDependets <input type='number' step='0.01'name= '10'> </p>
		<p>		   <input type = 'submit'> </p>
	</form>
		{% if predictedValue %}
			<h1> Probability <i>{{predictedValue}}</i> </h1>
			<h1> Ans <i>{{Value}}</i></h1>
			
		{% endif %}
</body>
</html>
