<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div id="header">
        <img class="poster" src="image/Poster.jpg" alt="image">
    </div>

    <div class="info">
        <div class="row">
            <div class="col-sm-12">
                <h2>What is the website about?</h2>
                <p>djnslkfhkjsdhfjahsdfljkahlsdkjfhaslkjdfhsakjdhfakdshfa
                    kdshflakjsdhfljakhsdfklahdfkhalksdhflakshdflaksdd
                    ;asdhflahdsflkahsdflkhasldhfalkshdflkasd
                    aksdkhflaksdhflkhslfhsalkhdfklashdflkahsdfklhasdkfhaslkdhf
                </p>      
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" id="box">
                <form method = 'POST'  action = '/submit' >
                    <!-- change data-tooltip accordingly-->
                    <span class="heading" data-tooltip="this is 1">Credit Utilization Ratio</span>  
                    <input type='number'step='0.01' class="input_field"> 
                    <br>
                    <span class="heading" data-tooltip="this is 2">Age</span>
                    <input type='number'step='0.01' class="input_field"> 
                    <br>
                    <span class="heading" data-tooltip="this is 3">Number of 30-59 days past dues </span>
                    <input type='number'step='0.01' class="input_field"> 
                    <br>
                    <span class="heading" data-tooltip="this is 4">DeptRatio</span>
                    <input type='number'step='0.01' class="input_field">            
                    <br>
                    <span class="heading" data-tooltip="this is 5">Monthly Income</span> 
                    <input type='number' step='0.01' class="input_field">                 
                    <br>
                    <span class="heading" data-tooltip="this is 6">Number of open credit lines</span> 
                    <input type='number'step='0.01' class="input_field"> 
                    <br>
                    <span class="heading" data-tooltip="this is 7">Number of 90 days past dues</span> 
                    <input type='number'step='0.01' class="input_field">	 
                    <br>
                    <span class="heading" data-tooltip="this is 8">Number of home loans </span>
                    <input type='number'step='0.01' class="input_field">	
                    <br>
                    <span class="heading" data-tooltip="this is 9">Number of 60-89 days past dues </span>
                    <input type='number' step='0.01' class="input_field"> 	 
                    <br>
                    <span class="heading" data-tooltip="this is 10">Number of dependen</span>ts 
                    <input type='number' step='0.01' class="input_field"> 
                    <input type = 'submit' class="submit_btn">
                </form>
            </div>
            <div class="col-sm-6">
                <div id="side_img">
                    <img src="image/Loan.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <h6>contacts</h6>
        <!-- add links-->
        <h6><a href="#">gmail</a>||<a href="#">github</a></h6>
    </div>

</body>
</html>